<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Hotelería Mariana Ulate</title>
    </head>
    <body>
        <!-- 1 SecciÃƒÂ³n para crear el boton de agregar... llamarÃƒÂ¡ a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPregunta">
                            <i class="fas fa-plus"></i> [[#{pregunta.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarPregunta">
            <div id="agregarPregunta" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{pregunta.agregar}]]</h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/pregunta/guardar}" th:object="${pregunta}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="detallePregunta">[[#{pregunta.detallePregunta}]]</label>
                                    <input type="text" class="form-control" name="detallePregunta" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="respuesta">[[#{pregunta.respuesta}]]</label>
                                    <input type="text" class="form-control" name="respuesta" required="true"/>
                                </div>

                               <div class="mb-3">
                                    <label for="nombreUsuario">[[#{pregunta.nombreUsuario}]]</label>
                                    <input type="text" class="form-control" name="nombreUsuario" required="true"/>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <section th:fragment="listadoPreguntas" id="preguntas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{pregunta.listado}]]</h4>    
                            </div>
                            <div th:if="${preguntas != null and !preguntas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{pregunta.detallePregunta}]]</th>
                                            <th>[[#{pregunta.respuesta}]]</th>
                                            <th>[[#{pregunta.nombreUsuario}]]</th>
                                            <th></th></tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="pregunta, contador : ${preguntas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${pregunta.detallePregunta}]]</td>
                                            <td>[[${pregunta.respuesta}]]</td>
                                            <td>[[${pregunta.nombreUsuario}]]</td>
                                            <td><a th:href="@{/pregunta/eliminar/}+${pregunta.idPregunta}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/pregunta/modifica/}+${pregunta.idPregunta}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${preguntas == null or preguntas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center text-white mb-3" style="background-color: #BCAAA4;">
                            <div class="card-body">
                                <h3>[[#{pregunta.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalpreguntas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la pÃƒÂ¡gina modifca.html -->
        <!-- SecciÃƒÂ³n para editar preguntas -->
        <section th:fragment="editarPregunta">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/pregunta/guardar}" th:object="${pregunta}" class="was-validated" enctype="multipart/form-data">
                        <input type="hidden" name="idPregunta" th:field="*{idPregunta}"/>
                        <section th:replace="~{pregunta/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="detallePregunta">[[#{pregunta.detallePregunta}]]</label>
                                                    <input type="text" class="form-control" name="detallePregunta" th:field="*{detallePregunta}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="respuesta">[[#{pregunta.respuesta}]]</label>
                                                    <input type="text" class="form-control" name="respuesta" th:field="*{respuesta}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nombreUsuario">[[#{pregunta.nombreUsuario}]]</label>
                                                    <input type="text" class="form-control" name="nombreUsuario" th:field="*{nombreUsuario}" required="true">
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/pregunta/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/pregunta/eliminar/}+${pregunta.idPregunta}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>